{% extends "base.html" %}
{% block content %}
<h2>Create User</h2>

<form method="POST">
    <label>Username:</label><br>
    <input type="text" name="username"><br><br>

    <label>Password:</label><br>
    <input type="password" name="password"><br><br>

    <label>Role:</label><br>
    <select name="role">
        <option value="manager">Manager</option>
        <option value="shop">Shop</option>
        <option value="accountant">Accountant</option>
        <option value="viewer">Viewer</option>
    </select><br><br>

    <button type="submit">Create</button>
</form>
{% endblock %}